body {
    width: 50%;
    margin: auto;
    background: url(background.jpg) center;
    line-height: 1.25;

    font-family: Arial;
    font-size: 13px;
}

#textBackground {
    background-color: white;
    border-radius: 25px;
    padding: 20px;
}

#photo {
    border-radius: 25px;
    padding: 30px; 
}

.imgpos {       
    position: static;
    float:right;   
}
    

